@font-face {
  font-family:museo_sans700;
  src:url(/fonts/museosans_700-webfont.eot);
  src:url(/fonts/museosans_700-webfont.eot?#iefix) format('embedded-opentype'),url(/fonts/museosans_700-webfont.woff) format('woff'),url(/fonts/museosans_700-webfont.ttf) format('truetype'),url(/fonts/museosans_700-webfont.svg#museo_sans700) format('svg');
  font-weight:400;
  font-style:normal;
}

@font-face {
  font-family:museo_sans900;
  src:url(/fonts/museosans_900-webfont.eot);
  src:url(/fonts/museosans_900-webfont.eot?#iefix) format('embedded-opentype'),url(/fonts/museosans_900-webfont.woff) format('woff'),url(/fonts/museosans_900-webfont.ttf) format('truetype'),url(/fonts/museosans_900-webfont.svg#museo_sans900) format('svg');
  font-weight:400;
  font-style:normal;
}

@font-face {
  font-family:museo_sans300;
  src:url(/fonts/museosans-300-webfont.eot);
  src:url(/fonts/museosans-300-webfont.eot?#iefix) format('embedded-opentype'),url(/fonts/museosans-300-webfont.woff) format('woff'),url(/fonts/museosans-300-webfont.ttf) format('truetype'),url(/fonts/museosans-300-webfont.svg#museo_sans300) format('svg');
  font-weight:400;
  font-style:normal;
}
