doctype html

html(lang="en")
  head
    meta(charset='utf-8')
    base(href="/")
    title Angular Kickoff
    // inject:css 
    // endinject 
  body(ng-app="app" ng-controller="appController")
    #wrap
      header-directive
      ng-view(id="ng_view")
      footer-directive

    // inject:js 
    // endinject 
